<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  TODO: ユーザーコメント、投稿メッセージの表示機能を実装
  
</body>
</html>